* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #91775e;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 12px;
    transition: var(--transition);
}

.logo-img {
    height: 40px;
    width: auto;
    display: block;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.1));
    transition: transform 0.3s ease;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #fefefc;
}

.logo:hover .logo-img {
    transform: scale(1.1);
}

.logo:hover .logo-text {
    transform:scale(1.1)
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-links a:hover {
  color: #e9edc9;
}

.btn {
  padding: 10px 18px;
  border: none;
  background-color: #e1e8eb;
  color: #0f172a;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: #e9edc9;
}

.hero {
    height: 100vh; 
    background-image: url(assets/WhatsApp\ Image\ 2026-02-02\ at\ 12.39.39\ PM.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
    background-opacity: 0.8;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* .card {
  width: 250px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
} */

.stars {
  color: gold;
  margin: 5px 0;
}

.stars span {
  color: gray;
  font-size: 14px;
}

.btn button {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes fade {
  from { transform: scale(.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-fade {
  animation: fade .25s ease-out;
}
